hi i am writing python code

1. integer

In [3]:
population = 97429759275
print(population)

97429759275

In [7]:
years_until_2030 = 2030 - 2025
print(years_until_2030)

5

In [8]:
type(years_until_2030)

int

2. FLOAT

In [11]:
INFLATION_RATE = 5.42
GDP_RATE = 6.3
print("the inflation rate today is =" , INFLATION_RATE)

the inflation rate today is = 5.42

3. STRING

In [12]:
name = "shauna"
print(name)
print("her name is " , name)

shauna
her name is  shauna

4. list- list of values seperated with a comma

In [13]:
abc =["pizza" ,"burger" ,"pasta"]
print(abc)

['pizza', 'burger', 'pasta']

In [15]:
type(abc)

list

5. how list solves problems

In [20]:
numbers = [ 346 , 420 , 123, 25 , 503 , 96]
print(numbers)
numbers.append(69)
print(numbers)
numbers.pop(2)
print(numbers)

[346, 420, 123, 25, 503, 96]
[346, 420, 123, 25, 503, 96, 69]
[346, 420, 25, 503, 96, 69]

In [17]:
print(sorted(numbers))

[25, 96, 123, 346, 420, 503]

6. TUPLE

tuple is immutable- we cant chnage it, lists are mutable - we can change it

In [21]:
number =( 1, 6 ,"hi" , 3.7 )
print(number)

(1, 6, 'hi', 3.7)

In [22]:
type(number)

tuple